<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr><th>Id</th>
            <th>Names</th>
            <th>Bios</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    {%if person %}
<tr>
   <td> {{person.id}}</td>
   <td> {{person.names}}</td>
   <td>{{person.Bio}}</td>
   <td>{{person.Email}}</td>
   <td>{{person.Phone}}</td>
</tr>
   </table>
    {%else%}
    <p>Person not found.</p>
    {% endif %}
</body>
</html>